.box {
  width: 1280px;
  height: 100px;
  background-color: skyblue;
}
.pc {
}
.mobile {
  opacity: 0%;
}
@media screen and (max-width: 1280px) {
  .box {
    background-color: red;
  }
  .pc {
    opacity: 0%;
  }
  .mobile {
    opacity: 100%;
  }
}
@media screen and (max-width: 768px) {
  .box {
    background-color: yellow;
  }
  .mobile {
    opacity: 100%;
  }
}
