body {
  background-color: #dbdbdb;
}
.box {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.row {
  display: flex;
}
.bundle {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.icon i {
  font-size: 50px;
  padding: 8px;
}
.text {
  font-size: 14px;
}
