.bt1 {
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 30px;
}
.bt2 {
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 30px;
  opacity: 50%;
}
.bt3 {
  background-color: white;
  color: #22c55e;
  border: 2px solid #22c55e;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 20px;
  padding: 15px 20px 15px 20px;
}
.bt4 {
  background-color: white;
  color: #22c55e;
  border: 3px solid #22c55e;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 70px;

  /*시계방향 12 3 6 9 top right bottom left*/
  padding: 15px 40px 15px 40px;
}
